@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins&family=Roboto:wght@300;400&display=swap');


body * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


/* General styles */
.flex {
    display: flex;
}


/* STYLING THE LANDING PAGE */
.container1 {
    width: 85%;
    margin: 0 auto;
}

/* navbar styling */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-logo {
    font-size: 3rem;
}

.nav-lists {
    list-style: none;

}

.nav-lists li a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

.button a {
    text-decoration: none;
}

.normal-button a {
    color: black;
}

.normal-button {

    background-color: transparent;
    border: none;
}

.yellow-button a, .yellow-button {
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    background-color: #E87A14;
    border: none;
}

.button + .button {
    margin-left: 1rem;
}

/* Navbar ends */

.man-in-jean {
    width: 80%;
}

.main-body {
    align-items: center;
    margin-top: 3rem;
}

.main-div2 {
    width: 100%;
}

.main-div1 {
    width: 100%;
}

.fancy-text {
    text-transform: uppercase;
    color: #44C3EBCC;
    margin-bottom: 2px;
}

.body-text {
    font-weight: 300;
    width: 50.975rem;
    font-size: 3em;

}

@media (max-width:1050px) {
    .nav-logo {
        font-size: 1.7em;
        font-weight: 600;
    }

    .nav-lists li a {
        padding: 0 0.5rem;
    }

}

@media (max-width:900px) {
    .nav-logo {
        font-size: 1em;
        font-weight: 700;
    }

    .nav-lists li a {
        padding: 0 0.2rem;
    }

    .body-text {
        font-weight: 300;
        width: 20rem;
        font-size: 1em;
    }
}

/* LANDING PAGE STYLES ENDS */

/* LOGIN PAGE STYLE BEGINS */

.body2 {
    background: #11111150;
    
}

.socials {
    background-color: #fff;
}

.socials, .org-img img {
    width: 100%;
}
.container2 {
    width: 60%;
    margin: auto;
    box-sizing: border-box;
}

.org-img {
}

/* nav comments */